Erp/OAService/Service References/ServiceReference1/OAWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost:2695/WebService/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://localhost:2695/WebService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://localhost:2695/WebService/">
      <s:element name="OASchedule">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="O_Schedule_code" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="C_userinfo_code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OAScheduleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OAScheduleResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="OAScheduleSoapIn">
    <wsdl:part name="parameters" element="tns:OASchedule" />
  </wsdl:message>
  <wsdl:message name="OAScheduleSoapOut">
    <wsdl:part name="parameters" element="tns:OAScheduleResponse" />
  </wsdl:message>
  <wsdl:portType name="OAWebServiceSoap">
    <wsdl:operation name="OASchedule">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">OA日程提醒接收</wsdl:documentation>
      <wsdl:input message="tns:OAScheduleSoapIn" />
      <wsdl:output message="tns:OAScheduleSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OAWebServiceSoap" type="tns:OAWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="OASchedule">
      <soap:operation soapAction="http://localhost:2695/WebService/OASchedule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OAWebServiceSoap12" type="tns:OAWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="OASchedule">
      <soap12:operation soapAction="http://localhost:2695/WebService/OASchedule" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OAWebService">
    <wsdl:port name="OAWebServiceSoap" binding="tns:OAWebServiceSoap">
      <soap:address location="http://localhost:2695/WebService/OAWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="OAWebServiceSoap12" binding="tns:OAWebServiceSoap12">
      <soap12:address location="http://localhost:2695/WebService/OAWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>